<h1>
  {{title}}
</h1>
<div class="tabs">
    <ul class="tab-links">
        <li><a href="#tab1">app-bounce-animation</a></li>
        <li><a href="#tab2">app-flip-animation</a></li>
        <li><a href="#tab3">app-others-animation</a></li>
        <li><a href="#tab4">app-roll-animation</a></li>
        <li><a href="#tab5">app-rotate-animation</a></li>
        <li><a href="#tab6">app-zoom-animation</a></li>
    </ul>
 
    <div class="tab-content">
        <div id="tab1">
          <app-bounce-animation></app-bounce-animation>
        </div>
 
        <div id="tab2">
          <app-flip-animation></app-flip-animation>
        </div>
 
        <div id="tab3">
            <app-others-animation></app-others-animation>
        </div>
 
        <div id="tab4">
            <app-roll-animation></app-roll-animation>
        </div>

        <div id="tab5">
            <app-rotate-animation></app-rotate-animation>
        </div>

        <div id="tab6">
            <app-zoom-animation></app-zoom-animation>
        </div>
    </div>
</div>